$color: #00cc99;
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
a{
  font-weight: 800;
  color: black;
  text-decoration: none;
}
body{
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

.swiper {
	width: 90%;
  
}

.image__wrapper {
	width: 100%;
	position: relative;
	padding-top: 56.25%;
}

.image__wrapper img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	object-fit: cover;
	object-position: center top;
}

.Banner{
  // height: 50px;
  flex: .2;
}
.header {
  // height: 200px;
  flex: 1;
  width: 100%;
  // background-color: #00cc99;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .nav{
    flex: .7;
    display: flex;
    height: 100%;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    gap: 2;
    li{
      gap: 2;
    }
  }

  .login{
    display: flex;
    
     
    align-items: center;
    .search{
      .search-icon{
        img{
          width: 25px;
        }
      }
    }
    ul{
      display: flex;
      align-items: center;
      justify-content: space-around;
  
    }

  }

}

 
 
.Bible{
  gap: 20px;
  padding: 64px 80px;
  .container{

    .row{
      
      .col-6{
        width: 1296px;
        height: 253px;
        margin: 20px;
        position: relative;
     
        background-image: url("https://github.com/RayChen1996/js_hex_project-seed-church/blob/main/images/Daily%201920.png?raw=true");
        border-radius: 16px;
        margin-top: 20px;
        .title{
          position: absolute;
          width: 128px;
          height: 52px;
          left: 32px;
          top: 32px;
          padding: 8px 16px;
          gap: 8px;
          font-family: 'Noto Sans TC';
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 36px;
          /* identical to box height, or 150% */
          
          
          /* Line */
          
          color: #DFEBE0;
          background: rgba(0, 0, 0, 0.6);
          border-radius: 32px;
        }
        .PostContent{
          position: absolute;
          top: 20px;
          right: 50px;
          text-align: end;
          color:white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          .mainContent{
            font-weight: bolder;
            font-size: 40px;
            line-height: 48px;
          }

          .subItem{
            color: #C0FFC8;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
          }




        }
      }



    }
  }
}
 

.About{
  // height: 550vh;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
 
  .container{
    .row{
      .col{
       
        margin-bottom: 25px;
        p{
          color:#8A8B8A;
        }
        .about-img-news{
          margin-bottom: 10px;
          position: relative;
          border-radius: 10px;
          height: 250px;
          width: 100%;
          background-size: contain;
          background-size: cover;
          // height: 50%;
          object-fit: cover;
          object-position: center top;
          
          .text{
            border-bottom-right-radius: 15px;
            border-top-left-radius: 12px;
            font-weight:bolder ;
            color: white;
            background-color: #18A7A9;
            padding: 8px;
            width: 80px;
            left: 10px;
            top: 10px;

          }

          background-image: url("https://github.com/RayChen1996/js_hex_project-seed-church/blob/main/images/New%2002.png?raw=true");
        }

        .about-img-info{
          margin-bottom: 10px;
          background-image: url("https://github.com/RayChen1996/js_hex_project-seed-church/blob/main/images/New%2001.png?raw=true");
          position: relative;
          border-radius: 10px;
          height: 250px;
          width: 100%;
          background-size: contain;
          background-size: cover;
          // height: 50%;
          object-fit: cover;
          object-position: center top;
          
          .text{
            border-bottom-right-radius: 15px;
            border-top-left-radius: 12px;
            width: 80px;
            font-weight:bolder ;
           
            color: white;
            padding: 8px;
            background-color: #18A7A9;
            left: 10px;
            top: 10px;

          }
        }

        .about-img-active{
          margin-bottom: 10px;
          background-image: url("https://github.com/RayChen1996/js_hex_project-seed-church/blob/main/images/New%2003.png?raw=true");
          position: relative;
          border-radius: 10px;
          height: 250px;
          width: 100%;
          background-size: contain;
          background-size: cover;
          // height: 50%;
          object-fit: cover;
          object-position: center top;
          
          .text{
            border-bottom-right-radius: 15px;
            border-top-left-radius: 12px;
            font-weight:bolder ;
            color: white;
            background-color: #18A7A9;
            width: 80px;
            padding: 8px;
            left: 10px;
            top: 10px;
            color: white;


          }
        }
        .caption{
          font-weight: 500;
          font-size: 28px;
          line-height: 34px;
          color: #1E1E1E;
          margin-bottom: 10px;
        }
      }
    }    
  }
  

    .capion{
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      color: #1E1E1E;
      
    }
    .readMore{
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;      
      color: #18A7A9;
      text-align: end;
    }




}

.History{
  height: 450px;
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #1E1E1E;
    margin-bottom: 45px;
  }
  .container{
    height: 100%;
    .row{
      .col{
        .title{
          font-weight: 700;
          font-size: 32px;
          line-height: 38px;
          color: #18A7A9;
        }
        .story{
          position: relative;
          .img{ 
            height: 150px; 
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            // text-align: center;
            color: #DFEBE0;
            img{
              position: absolute;
              top: 0;
              border-radius: 10px;
   
              background-size: contain;
              background-size: cover;
              // height: 50%;
              object-fit: cover;
              object-position: center top;
            }
            .text{
              position: absolute;
              bottom: 0;
            }
          }


        }

      }


    }
  }
}

.WelcomeCard{
  padding: 35px;
  .container{
    margin: 15px;
    .row{
      .col{       
        border-radius: 312px;
        display: flex;
        .title{
          flex: 2;
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 38px;
          color: #1F5B54;
        }
        .form{
          flex: 1;
          // margin: 5px;
          padding: 5px;
          input{
            margin-bottom: 20px;
            padding: 8px 16px;
            gap: 16px;
            width: 416px;
            height: 48px;
            background: #FFFFFF;
            border: 2px solid #DFEBE0;
            border-radius: 16px;
          }
          div{
            display: flex;
            align-items: flex-end;
            justify-content: end;
            .btn-joinUs{
              align-items: flex-end;
              text-align: end;
              padding: 5px;
              padding: 12px 24px;
              gap: 8px;
              width: 116px;
              height: 52px;
              background: #18A7A9;
              border: 1px solid #18A7A9;
              color: white;
              border-radius: 16px;
            }            
          }



        }
      }
    }
  }
}

.footer{
 .info-rows{
  display: flex;
  justify-content: space-around;
  align-items: center;
  div{
    .fb-frame{
      iframe{
        border-radius: 16px;
      }
      
    }    
  }

 } 
}


.copyright{
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Gray 03 */

color: #BEC2BD;
display: flex;
justify-content: center;
align-items: center;
}