$color: #00cc99;
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  box-sizing: border-box;
}
a{
  font-weight: 800;
  color: black;
  text-decoration: none;
}
body{
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

.swiper {
	width: 90%;
  
}

.carousel-item{
  
  position: relative;
  span{
    font-size: 36px;
    font-weight: bolder;

    position: absolute;
    left: 30%;
    top: 45%;
    color: #fff;
 
  }
  .pageScroll{
 
    position: absolute;
    bottom: 10px;
    left: 45%;
    width: 120px;
    height: 25px;
 
    
    display: flex;
    margin: 2px;
    justify-content: space-around;
    li.active{
      border-radius: 50%;
      background-color: #CBFEA9;
      width: 10px;
      height: 10px;
    }
    // li:first-child{
    //   border-radius: 50%;
    //   background-color: #CBFEA9;
    //   width: 10px;
    //   height: 10px;
    // }
    li{
      border-radius: 50%;
      background-color: #fff;
      width: 10px;
      height: 10px;
    }
  }
  img{

  }
}


.image__wrapper {
	width: 100%;
	position: relative;
	padding-top: 56.25%;
}

.image__wrapper img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	object-fit: cover;
	object-position: center top;
}

.Banner{
  // height: 50px;
  flex: .2;
}
.header {
  // height: 200px;
  flex: 1;
  height: 80px;
  // background-color: #00cc99;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .container{
    .row{
      display: flex;
      flex-direction: row;
      .logo{

        flex: 1; 
        text-align: center;
      }

      .menu{
        .nav{
          flex: .7;
          display: flex;
          height: 100%;
          align-items: center;
          align-self: center;
          justify-content: space-around;
          gap: 2;
          li{
            gap: 2;
          }
        }
      }

      .search{
        
    
        ul{
          height: 100%;
      
          display: flex;
          gap: 1;
          align-items: center;
          justify-content:space-between;
          li{
            input{
              background-color: #18A7A9;
              border-radius: 16px;
              padding: 5px;
              margin: 5px;
            }
            .login{
              background-color: white;
              border: 1px solid #18A7A9;
              padding: 15px;
            }
            .join{
              color: white;
              border:none;
              padding: 15px;
              // margin: 50px;
            }
          }
        } 
      }
    }
  }
}


.carouselExampleControls{
  img{
    height: 50px;
  }
}
 
 
.Bible{
  gap: 20px;
  padding: 64px 80px;
  .container{

    .row{
      .col-6{
        width: 1296px;
        height: 253px;
        margin: 20px;
        position: relative;
     
        background-image: url("https://github.com/RayChen1996/js_hex_project-seed-church/blob/main/images/Daily%201920.png?raw=true");
        border-radius: 16px;
        margin-top: 20px;
        .title{
          position: absolute;
          width: 128px;
          height: 52px;
          left: 32px;
          top: 32px;
          padding: 8px 16px;
          gap: 8px;
          font-family: 'Noto Sans TC';
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 36px;
          /* identical to box height, or 150% */
          
          
          /* Line */
          
          color: #DFEBE0;
          background: rgba(0, 0, 0, 0.6);
          border-radius: 32px;
        }
        .PostContent{
          position: absolute;
          top: 20px;
          right: 50px;
          text-align: end;
          color:white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          .mainContent{
            font-weight: bolder;
            font-size: 40px;
            line-height: 48px;
          }

          .subItem{
            color: #C0FFC8;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
          }




        }

        .pageScroll{
          position: absolute;
          bottom: 10px;
          left: 40%;
          width: 120px;
          height: 25px;
       
          
          display: flex;
          margin: 2px;
          justify-content: space-around;
          li:first-child{
            border-radius: 50%;
            background-color: #CBFEA9;
            width: 10px;
            height: 10px;
          }
          li{
            border-radius: 50%;
            background-color: #fff;
            width: 10px;
            height: 10px;
          }
        }
      }



    }
  }
}
 

.About{
  // height: 550vh;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
 
  .container{
    .row{
      .col{
       
        margin-bottom: 25px;
        p{
          color:#8A8B8A;
        }
        .about-img-news{
          margin-bottom: 10px;
          position: relative;
          border-radius: 10px;
          height: 250px;
          width: 100%;
          background-size: contain;
          background-size: cover;
          // height: 50%;
          object-fit: cover;
          object-position: center top;
          
          .text{
            border-bottom-right-radius: 15px;
            border-top-left-radius: 12px;
            font-weight:bolder ;
            color: white;
            background-color: #18A7A9;
            padding: 8px;
            width: 80px;
            left: 10px;
            top: 10px;

          }

          background-image: url("https://github.com/RayChen1996/js_hex_project-seed-church/blob/main/images/New%2002.png?raw=true");
        }

        .about-img-info{
          margin-bottom: 10px;
          background-image: url("https://github.com/RayChen1996/js_hex_project-seed-church/blob/main/images/New%2001.png?raw=true");
          position: relative;
          border-radius: 10px;
          height: 250px;
          width: 100%;
          background-size: contain;
          background-size: cover;
          // height: 50%;
          object-fit: cover;
          object-position: center top;
          
          .text{
            border-bottom-right-radius: 15px;
            border-top-left-radius: 12px;
            width: 80px;
            font-weight:bolder ;
           
            color: white;
            padding: 8px;
            background-color: #18A7A9;
            left: 10px;
            top: 10px;

          }
        }

        .about-img-active{
          margin-bottom: 10px;
          background-image: url("https://github.com/RayChen1996/js_hex_project-seed-church/blob/main/images/New%2003.png?raw=true");
          position: relative;
          border-radius: 10px;
          height: 250px;
          width: 100%;
          background-size: contain;
          background-size: cover;
          // height: 50%;
          object-fit: cover;
          object-position: center top;
          
          .text{
            border-bottom-right-radius: 15px;
            border-top-left-radius: 12px;
            font-weight:bolder ;
            color: white;
            background-color: #18A7A9;
            width: 80px;
            padding: 8px;
            left: 10px;
            top: 10px;
            color: white;


          }
        }
        .caption{
          font-weight: 500;
          font-size: 28px;
          line-height: 34px;
          color: #1E1E1E;
          margin-bottom: 10px;
        }
      }
    }    
  }
  

    .capion{
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      color: #1E1E1E;
      
    }
    .readMore{
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;      
      color: #18A7A9;
      text-align: end;
    }




}

.History{
  margin-top: 100px;
  padding-top: 50px;
  height: 450px;
  background-color: #F6FFF1;
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #1E1E1E;
    margin-bottom: 45px;
  }
  .container{
 
    .row{
      .col{
        .title{
          font-weight: 700;
          font-size: 32px;
          line-height: 38px;
          color: #18A7A9;
        }
        .story{
          
          .img{ 
   
            position: relative;
            height: 250px;
            
           
            line-height: 30px; 
            color: #DFEBE0;
            img{
              position: absolute;
              top: 0;
              border-radius: 10px;
   
              background-size: contain;
              background-size: cover;
              height: 250px;
              object-fit: cover;
              object-position: center top;
            }
            .text{
              position: absolute;
              // background-color: #1F5B54;
              font-weight: 400;
              font-size: 20px;
              text-align: center;
              width: 100%;
              bottom: 0;
            }
          }


        }

        .descript{
         margin-top: 15px;
        }


      }


    }
  }
}

.WelcomeCard{
  background: #FAFAFA;
border-radius: 312px;

  padding: 35px;
  margin-top: 150px;
  .container{
    .row{
      .col{       
        display: flex;
        .title{
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          color: #1F5B54;
          display: flex;
          align-items: center;
        }
        .form{
   
          flex: 1; 
          padding: 5px;
          
          input{
            margin-bottom: 20px;
            padding: 8px 16px;
            gap: 16px;
            width: 510px;
            height: 48px;
            background: #FFFFFF;
            border: 2px solid #DFEBE0;
            border-radius: 16px;
          }
          div{
            display: flex;
            align-items: flex-end;
            justify-content: end;
            .btn-joinUs{
              align-items: flex-end;
              text-align: end;
              padding: 5px;
              padding: 12px 24px;
              gap: 8px;
              width: 116px;
              height: 52px;
              background: #18A7A9;
              border: 1px solid #18A7A9;
              color: white;
              border-radius: 16px;
            }            
          }
        }
      }
    }
  }
}

.footer{
  margin-top: 50px;
 .info-rows{
  display: flex;
  justify-content: space-around;
  align-items: center;
  div{
    margin: 5px;
    display: flex;
    flex-direction: column;
    .logo{
      padding: 15px;
    }
    .Lang{
      padding: 5px;
      border: 1px solid #DFEBE0;

      border-radius: 8px;

    }
  }
  div{
    .fb-frame{
      iframe{
        border-radius: 16px;
      }
      
    }    
  }
  div{
    ul{
      li{
        display: flex;
        padding: 5px;
        margin: 5px;
        .icon{
          img{

          }
        }
      }
    }
  }

 } 
}


.copyright{
  margin: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #BEC2BD;
  display: flex;
  justify-content: center;
  align-items: center;
}








 


/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
/*   padding: 50px 0; */
}

.section .container {
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {
  font-size: 2.5rem;
}

.section h2 {
  font-size: 1.3rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 50vw;
  padding: 10px 0;
  // transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 280px;
  height: 4px;
  background: #1F5B54;
}
.timeline ol li:first-child {
  width: 0px;
}
.timeline ol li:last-child {
  width: 0px;
}






.timeline ol li:not(:first-child) {
  margin-left: 24.5px;
}

.timeline ol li:last-child::before {
   content: '';
  position: absolute;
  top: -13px;
  left: -46px;
  width: 20px;
  height: 20px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #1F5B54;
  display:inline-block;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 25px;
  height: 25px;
  transform: translateY(-50%);
  border-radius: 50%;
  border:3px solid #1F5B54;
  background: #fff;
}